<h1>Bonjour! Vérifiez votre e-mail!</h1>

<p>
    Vérifiez votre e-mail en cliquant ci-dessous:  <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon e-mail</a>.
    Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Merci!
</p>
